<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Double Bloody Decker</title>
  <link rel="stylesheet" type="text/css" href="<%= url('about.css') %>">
</head>

<body>

<div id="navigator">

  <img src=""/>

  <a href="/login"><h3 class="navigator-text">Hem</h3></a>

  <a href="/about"><h3 class="navigator-text">Om oss</h3></a>

</div>


<div id="intro">
  <div id="header">
    <h1 style="font-size: xx-large">This is THE WANKERS</h1>

    <h2>We are <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Sandro</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix</a></h2>
  </div>

  <div id="intro_text">
    <p>
      Cras sed viverra velit. Morbi suscipit ultricies tortor, eu molestie lectus efficitur vitae. Integer consequat
      tortor tellus, sodales vulputate velit feugiat id. Curabitur odio ante, dictum sit amet velit nec, pretium
      sagittis risus. Aenean mi lectus, pellentesque ac fringilla id, vehicula vitae justo. Cras efficitur sit amet odio
      fermentum sollicitudin. Nam volutpat tempor tincidunt. Nunc eu lacinia nunc, et sollicitudin neque. Pellentesque
      id ante eu neque auctor tempus. Curabitur id euismod lacus. Donec turpis diam, pulvinar id lorem vel, ultrices
      faucibus turpis. Cras sit amet est velit. Quisque eget erat dolor. Mauris a felis suscipit, tristique leo a, porta
      eros. Sed scelerisque, est nec facilisis condimentum, magna risus pellentesque neque, sit amet fermentum velit
      felis sed risus.
    </p>
  </div>

</div>

<div id="login_footer">
  <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
    <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
</div>

</body>

</html>