<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sched - About Us</title>
  <link rel="stylesheet" type="text/css" href="<%= url('about.css') %>">
</head>

<body>

<div id="main_div">
  <div id="header">
    <img src=""/>
    <a href="/login"><h3 class="header_text">Home</h3></a>
    <a href="/about"><h3 class="header_text">About Us</h3></a>
  </div>

  <div id="faq_box">

    <h1 style="font-size: xx-large; border-bottom: dashed 4px #00ffee;">Sched FAQ</h1>

    <script>
      // Retrieves id from div of which one to show
      // If user presses a question, it changes to the connected answer via div id
      
      function showDiv(idInfo) {
        var sel = document.getElementById('divLinks').getElementsByTagName('div');
        for (var i = 0; i < sel.length; i++) {
          sel[i].style.display = 'none';
        }
        document.getElementById('container' + idInfo).style.display = 'block';
        return false;
      }

      window.onload = function () {
        showDiv('1');
      }
    </script>

    <div id="linkDivHolder">
      <div>
        <div id="linkDiv">
          <table>
            <tbody>
            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('1')"><h5>What is Sched?</h5></a></td>
              <td><a href="#" onclick="return showDiv('2')"><h5>Who are we?</h5></a></td>
              <td><a href="#" onclick="return showDiv('3')"><h5>Why are we doing this?</h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('4')"><h5>How does Sched work?</h5></a></td>
              <td><a href="#" onclick="return showDiv('5')"><h5>Why should I use Sched??</h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5>How did we create Sched?</h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('7')"><h5>How do I add an activity?</h5></a></td>
              <td><a href="#" onclick="return showDiv('8')"><h5>How do I remove an activity?</h5></a></td>
              <td><a href="#" onclick="return showDiv('9')"><h5>How do I add a friend?</h5></a></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div id="divLinks">
          <div id="container1">
            <h3>Question: What is Sched?</h3>
            <p><b>Answer:</b></p>
            <p>Sched is a social-networking platform focused on connecting people and their training schedules.
              It is easier for everyone to see their friends schedules in one place, rather than asking each person
              individually.</p>
          </div>

          <div id="container2">
            <h3>Question: Who are we?</h3>
            <p><b>Answer:</b></p>
            <p>The creator of Sched is <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a> and
              <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo.</a>
              We are two students in the last year of swedish "gymnasiet" studying Technology Programme with
              Specialization in Information and Media Communication.</p>
          </div>

          <div id="container3">
            <h3>Question: Why are we doing this?</h3>
            <p><b>Answer:</b></p>
            <p>We created Sched because of personal interests and as our school graduation project.
              We wanted to make a platform that will make it easier to find people to exercise with.</p>
          </div>

          <div id="container4">
            <h3>Question: How does Sched work?</h3>
            <p><b>Answer:</b></p>
            <p>Sched is letting users publish their training schedules to the site and gives them the ability to follow other users in order to see their schedules.</p>
          </div>

          <div id="container5">
            <h3>Question: Why should I use Sched?</h3>
            <p><b>Answer:</b></p>
            <p>If you ever found it difficult to get a clear answer when you ask your friends when and where
              they are going to exercise, then this is the site for you.</p>
          </div>

          <div id="container6">
            <h3>Question: How did we create Sched?</h3>
            <p><b>Answer:</b></p>
            <p>Sched is using several different programming languages. For example: Ruby, JavaScript, HTML5, CSS3 and PostgreSQL but is based on the framework Sinatra.
              Wrote both the front and back-end of the site together from the ground up. Sandro wrote most of the back-end and Felix focused on the front-end.</p>
          </div>

          <div id="container7">
            <h3>Question: How do I add an activity?</h3>
            <p><b>Answer:</b></p>
            <p>First you have to log in.</p>
            <p>When logged in you can create events in the box to the right where you fill in details for the event and then click "submit".</p>
            <p>After you have clicked the "submit", the event should immidetly appear on the selected day for your followers (after page refresh).</p>
          </div>

          <div id="container8">
            <h3>Question: How do I remove an activity?</h3>
            <p><b>Answer:</b></p>
            <p>At the moment we do not have any way of removing an activity. Stay tuned for further updates.</p>
          </div>

          <div id="container9">
            <h3>Question: How do I follow a friend?</h3>
            <p><b>Answer:</b></p>
            <p>First you have to log in.</p>
            <p>When you have logged in, click on the "Friends" button in the navigation bar at the top of the screen.</p>
            <p>Type in the username of the person you want to follow and click the "Submit" button.</p>
            <p>Yay, all done now!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
    <p>@ 2016 Sched</p>
  </div>

</div>

</body>

</html>