<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Double Bloody Decker</title>
  <link rel="stylesheet" type="text/css" href="<%= url('about.css') %>">
</head>

<body>

<div id="navigator">

  <img src=""/>

  <a href="/login"><h3 class="navigator-text">Hem</h3></a>

  <a href="/about"><h3 class="navigator-text">Om oss</h3></a>

</div>


<div id="intro">
  <div id="header">
    <h1 style="font-size: xx-large">***</h1>

    <h2>We are <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Sandro</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix</a></h2>
  </div>

  <div class="faq_box_expand">

    <h3>Vad är ***?</h3>
    <img src="sdaa">

  </div>

  <div class="faq_box_expand">

    <h3>Vilka är vi?</h3>
    <img src="sdaa">

  </div>

  <div class="faq_box_expand">

    <h3>Vad är ***?</h3>
    <img src="sdaa">

  </div>

  <div class="faq_box_expand">

    <h3>Vilka är vi?</h3>
    <img src="sdaa">

  </div>

  <div class="faq_box_expand">

    <h3>Vad är ***?</h3>
    <img src="sdaa">

  </div>

  <div class="faq_box_expand">

    <h3>Vilka är vi?</h3>
    <img src="sdaa">

  </div>


</div>

<div id="login_footer">
  <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
    <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
</div>

</body>

</html>