<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sched - About Us</title>
  <link rel="stylesheet" type="text/css" href="<%= url('about.css') %>">
</head>

<body>

<div id="main_div">
  <div id="navigator">

    <img src=""/>

    <a href="/login"><h3 class="navigator-text">Home</h3></a>

    <a href="/about"><h3 class="navigator-text">About Us</h3></a>

  </div>

  <div id="faq_box">
    <div id="faq_box_header">
      <h1 style="font-size: xx-large; border-bottom: dashed 4px #00ffee;">Sched FAQ</h1>
    </div>

    <script>
      function showDiv(idInfo) {
        var sel = document.getElementById('divLinks').getElementsByTagName('div');
        for (var i = 0; i < sel.length; i++) {
          sel[i].style.display = 'none';
        }
        document.getElementById('container' + idInfo).style.display = 'block';
        return false;
      }

      window.onload = function () {
        showDiv('1');
      }
    </script>

    <div id="linkDivHolder">

      <div>

        <div id="linkDiv">

          <table>
            <tbody>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('1')"><h5>What is Sched?</h5></a></td>
              <td><a href="#" onclick="return showDiv('2')"><h5>Who are we?</h5></a></td>
              <td><a href="#" onclick="return showDiv('3')"><h5>Why are we doing this?</h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('4')"><h5>How do Sched work?</h5></a></td>
              <td><a href="#" onclick="return showDiv('5')"><h5>Why should I use Sched??</h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5>How have we created Sched?</h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('6')"><h5>How do I add an activity?</h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5>How do I remove an activity?</h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5>How do I add a friendf?</h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
            </tr>

            <tr class="linkDiv-tablerow">
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
              <td><a href="#" onclick="return showDiv('6')"><h5></h5></a></td>
            </tr>


            </tbody>
          </table>

        </div>

      </div>

      <div>

        <div id="divLinks">

          <div id="container1">
            <h3>Question: What is Sched?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container2">
            <h3>Question: Who are we?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container3">
            <h3>Question: Why are we doing this?</h3>
            <p><b>Answer:</b></p>
            <p>dianiobwacio</p>
          </div>

          <div id="container4">
            <h3>Question: How do Sched work?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container5">
            <h3>Question: Why should I use Sched?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container6">
            <h3>Question: How have we created this?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container7">
            <h3>Question: How do I add an activity?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container8">
            <h3>Question: How do I remove an activity?</h3>
            <p><b>Answer:</b></p>
          </div>

          <div id="container9">
            <h3>Question: How do I add a friend?</h3>
            <p><b>Answer:</b></p>
          </div>

        </div>

      </div>

    </div>


    <div id="login_footer">
      <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
        <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
      <p>@ 2016 Sched</p>
    </div>

  </div>
</div>

</body>

</html>