<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sched - About Us</title>
  <link rel="stylesheet" type="text/css" href="<%= url('about.css') %>">
</head>

<body>

<div id="main_div">
  <div id="navigator">

    <img src=""/>

    <a href="/login"><h3 class="navigator-text">Hem</h3></a>

    <a href="/about"><h3 class="navigator-text">Om oss</h3></a>

  </div>

  <div id="faq_box">
    <div id="faq_box_header">
      <h1 style="font-size: xx-large;">Sched</h1>

      <h2>We are <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Sandro</a> and
        <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix</a></h2>
    </div>

    <script>
      function expand() {
        if (document.getElementById('faq_expand').style.display == 'none') {
          document.getElementById('faq_expand').style.display = 'initial';
        } else {
          document.getElementById('faq_expand').style.display = 'none';

        }

      }


    </script>

    <!--<div id="faq_left_side">-->

    <!--<div class="faq_box_expand" onclick="expand()">-->

    <!--<h3>Vad är ***?</h3>-->
    <!--<img src="sdaa">-->

    <!--<div class="faq_expand" id="faq_expand" style="display: none">-->
    <!--<h3>Answer:</h3>-->
    <!--<p>fseubafoubaevubofqwevaob-->
    <!--aefionbefbyeuibveaoubvse-->
    <!--vebisvebsvebouvas-->
    <!--sveavesabuaevionave-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="faq_box_expand">-->

    <!--<h3>Vilka är vi?</h3>-->
    <!--<img src="sdaa">-->

    <!--</div>-->

    <!--<div class="faq_box_expand">-->

    <!--<h3>Vad är ***?</h3>-->
    <!--<img src="sdaa">-->

    <!--</div>-->

    <!--</div>-->

    <!--<div id="faq_right_side">-->

    <!--<div class="faq_box_expand">-->

    <!--<h3>Vilka är vi?</h3>-->
    <!--<img src="sdaa">-->

    <!--</div>-->

    <!--<div class="faq_box_expand">-->

    <!--<h3>Vad är ***?</h3>-->
    <!--<img src="sdaa">-->

    <!--</div>-->

    <!--<div class="faq_box_expand">-->

    <!--<h3>Vilka är vi?</h3>-->
    <!--<img src="sdaa">-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <script>
      function showDiv(idInfo) {
        var sel = document.getElementById('divLinks').getElementsByTagName('div');
        for (var i = 0; i < sel.length; i++) {
          sel[i].style.display = 'none';
        }
        document.getElementById('container' + idInfo).style.display = 'block';
        return false;
      }

      window.onload = function () {
        showDiv('1');
      }
    </script>
    <div id="linkDivHolder">

      <div id="linkDiv">
        <h5><a href="#" onclick="return showDiv('1')">Vem är vi?</a></h5>
        <h5><a href="#" onclick="return showDiv('2')">Vad är Sched?</a></h5>
        <h5><a href="#" onclick="return showDiv('3')">Vem är vi?</a></h5>
        <h5><a href="#" onclick="return showDiv('4')">Vad är Sched</a></h5>
        <h5><a href="#" onclick="return showDiv('5')">Vem är din mamma?</a></h5>
        <h5><a href="#" onclick="return showDiv('6')">Vad är Sched</a></h5>
      </div>

      <div id="divLinks">

        <div id="container1">
          <h3>Fråga: Vilka är vi?</h3>
          <p><b>Svar:</b> fdannfawiob aiwf ainoavionvae  avepiavibave aobiciacwn</p>
        </div>

        <div id="container2">
          <h3>Fråga: Vad är Sched?</h3>
          <p><b>Svar:</b> fdannfawiob aiwf ainoavionvae  avepiavibave aobiciacwn</p>
        </div>

        <div id="container3">
          <h3>Fråga: Vilka är vi?</h3>
          <p><b>Svar:</b> fdannfawiob aiwf ainoavionvae  avepiavibave aobiciacwn</p>
        </div>

        <div id="container4">
          <h3>Fråga: Vad är Sched?</h3>
          <p><b>Svar:</b> fdannfawiob aiwf ainoavionvae  avepiavibave aobiciacwn</p>
        </div>
      </div>

    </div>


    <div id="login_footer">
      <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
        <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
    </div>

  </div>
</div>

</body>

</html>