<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Error 500 - Internal Server Error</h1>
<p>Please contact the almighty server admin so that he can send the problem solving monkeys to fix the issue.</p>

</body>
</html>