<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="UTF-8">
  <title>Sched - Login</title>
  <link rel="stylesheet" type="text/css" href="<%= url('login.css') %>"/>
</head>

<body>
<div id="main_div">
  <div id="header">
    <a href="/login"><h3 class="header_text">Home</h3></a>

    <a href="/about"><h3 class="header_text">About Us</h3></a>
  </div>
  <div id="content">

  <div id="middle_div">

    <div id="text_box">
      <h1>Welcome to Sched</h1>
      <h3>Let us remember your schuelde</h3>
      <p>
        Sched is a platform where you can share your schedules with your friends in a very easy and user-friendly way.
        Just create an account, add some friends and share! It's not harder than that. :)
      </p>
    </div>

    <div class="user_interact">

      <h2>Login</h2>

      <form name="login" method="POST" action="/login">

        <div style="width: 100px">

          <input class="submition" id="Username" placeholder="Username" name="username"/>
          <input class="submition" id="Password" placeholder="Password" type="password" style="margin-top: 10px;" name="password"/>

          <button type="submit" style="margin-top: 10px;">Submit</button>

        </div>

      </form>

    </div>

    <div class="user_interact">

      <h2>Sign Up</h2>

      <form name="signup" method="POST" action="/signup">
        <div style="width: 100px">
          <input class="submition" id="Username" placeholder="Username" name="username"/>
          <input class="submition" id="Password" placeholder="Password" type="password" style="margin-top: 10px;" name="password"/>
          <button type="submit" style="margin-top: 10px;">Submit</button>
          <p id="signup_tos_prompt">By signing up you agree with the <a href="/tos">Terms of Service</a></p>
        </div>
      </form>

    </div>

  </div>
  </div>
  <footer id="footer">
    <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
    <p>@ 2016 Sched</p>
  </footer>
</div>

</body>

</html>