<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="UTF-8">
  <title>Sched - Login</title>
  <link rel="stylesheet" type="text/css" href="<%= url('login.css') %>"/>
</head>

<body background="../public/img/yosemite.jpg">
<div id="main_div">
  <div id="navigator">

    <a href="/login"><h3 class="navigator-text">Hem</h3></a>

    <a href="/about"><h3 class="navigator-text">Om oss</h3></a>

  </div>

  <div id="left_side">
    <div id="text_box">
      <h2 style="text-align: center">Välkommen till Sched</h2>

      <p>
        Curabitur non sapien vestibulum, feugiat nunc quis, lobortis lorem. Proin risus lacus, pulvinar sed dapibus id,
        vehicula sed justo. In hac habitasse platea dictumst. Duis neque dolor, ultricies sit amet auctor in, sodales
        vitae
        sem. Phasellus dignissim dui eget lacus tristique suscipit. Pellentesque habitant morbi tristique senectus et
        netus
        et malesuada fames ac turpis egestas. Morbi viverra egestas porta. Phasellus laoreet nunc non erat fermentum, id
        tincidunt eros blandit. Proin in leo porta, placerat justo quis, placerat arcu. Duis non erat ac leo venenatis
        viverra. In porta pellentesque turpis, a imperdiet erat aliquet id. Proin nec maximus ligula, nec condimentum
        orci.
        Ut arcu quam, condimentum at mauris sed, convallis viverra sem. Aenean ullamcorper non massa a semper. Aenean
        congue
        rutrum felis, nec finibus dolor euismod lacinia. Suspendisse a volutpat lectus.
      </p>
    </div>
  </div>

  <div id="right_side">

    <div class="user_interact">

      <h2>Login</h2>

      <form name="login" method="POST" action="/login">

        <div style="width: 100px">

          <input class="submition" id="Username" placeholder="Username" name="username"/>
          <input class="submition" id="Password" placeholder="Password" type="password" style="margin-top: 10px;" name="password"/>

          <div>
            <input id="Checkbox" placeholder="Checkbox" type="checkbox" value="1" style="float: left; margin: auto 5px auto auto;" name="remeber_me"/>

            <p style="font-size: small; width: 110px; margin-left: 10px;">Remember me?</p>
          </div>
          <button type="submit">Submit</button>

        </div>

      </form>

    </div>

    <div class="user_interact">

      <h2>Sign Up</h2>

      <form name="signup" method="POST" action="/signup">
        <div style="width: 100px">
          <input class="submition" id="Username" placeholder="Username" name="username"/>
          <input class="submition" id="Password" placeholder="Password" type="password" style="margin-top: 10px;" name="password"/>
          <button type="submit" style="margin-top: 10px;">Submit</button>
        </div>
      </form>

    </div>

  </div>

  <div id="login_footer">
    <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
  </div>
</div>

</body>

</html>