<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= url('style.css') %>"/>
  <title></title>
</head>
<body>



<form name="events" method="POST" action="/events">

<select name="event_type">
  <option value="Bouldering">Bouldering</option>
  <option value="TopRope">TopRope</option>
  <option value="Lead">Lead</option>
  <option value="Top and Lead">Top and lead</option>
  <option value="Other">Other</option>
</select>


  <select name="event_time_from">
    <option value="09:00">09:00</option>
    <option value="09:30">09:30</option>
    <option value="10:00">10:00</option>
    <option value="10:30">10:30</option>
    <option value="11:00">11:00</option>
    <option value="11:30">11:30</option>
    <option value="12:00">12:00</option>
    <option value="12:30">12:30</option>
    <option value="13:00">13:00</option>
    <option value="13:30">13:30</option>
    <option value="14:00">14:00</option>
    <option value="14:30">14:30</option>
    <option value="15:00">15:00</option>
    <option value="15:30">15:30</option>
    <option value="16:00">16:00</option>
    <option value="16:30">16:30</option>
    <option value="17:00">17:00</option>
    <option value="17:30">17:30</option>
    <option value="18:00">18:00</option>
    <option value="18:30">18:30</option>
    <option value="19:00">19:00</option>
    <option value="19:30">19:30</option>
    <option value="20:00">20:00</option>
    <option value="20:30">20:30</option>
    <option value="21:00">21:00</option>
    <option value="21:30">21:30</option>
    <option value="22:00">22:00</option>
    <option value="N/A">N/A</option>
  </select>

  <select name="event_time_to">
    <option value="09:00">09:00</option>
    <option value="09:30">09:30</option>
    <option value="10:00">10:00</option>
    <option value="10:30">10:30</option>
    <option value="11:00">11:00</option>
    <option value="11:30">11:30</option>
    <option value="12:00">12:00</option>
    <option value="12:30">12:30</option>
    <option value="13:00">13:00</option>
    <option value="13:30">13:30</option>
    <option value="14:00">14:00</option>
    <option value="14:30">14:30</option>
    <option value="15:00">15:00</option>
    <option value="15:30">15:30</option>
    <option value="16:00">16:00</option>
    <option value="16:30">16:30</option>
    <option value="17:00">17:00</option>
    <option value="17:30">17:30</option>
    <option value="18:00">18:00</option>
    <option value="18:30">18:30</option>
    <option value="19:00">19:00</option>
    <option value="19:30">19:30</option>
    <option value="20:00">20:00</option>
    <option value="20:30">20:30</option>
    <option value="21:00">21:00</option>
    <option value="21:30">21:30</option>
    <option value="22:00">22:00</option>
    <option value="N/A">N/A</option>
  </select>

<p>Willing to switch to:</p>

  <input type="checkbox" name="box1" value="Bouldering">Bouldering
  <input type="checkbox" name="box2" value="TopRope">TopRope
  <input type="checkbox" name="box3" value="Lead">Lead

  <button type="submit">submit</button>
</form>

<h1 style="text-align: center;">Current month: December</h1>

<table id="calendar_table">

  <tr class="table_row">
    <td class="table_data_day">Måndag</td>
    <td class="table_data_day">Tisdag</td>
    <td class="table_data_day">Onsdag</td>
    <td class="table_data_day">Torsdag</td>
    <td class="table_data_day">Fredag</td>
    <td class="table_data_day">Lördag</td>
    <td class="table_data_day" style="background-color: red;">Söndag</td>
  </tr>

  <tr>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
  </tr>

  <tr>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
  </tr>

  <tr>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
  </tr>

  <tr>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
  </tr>

  <tr>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
    <td class="table_data"></td>
  </tr>

</table>

</body>
</html>