<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form name="add_message" method="POST" action="/add_message">
  <input name="message"/>
  <input type="submit"/>
</form>

<script>


function createTables(times) {
    var table = document.createElement('table');
    for (var i = 0; i < times.length; i++){
        var tr = document.createElement('tr');

        var td1 = document.createElement('td');

        td1.appendChild(document.createTextNode(times[i]));
        tr.appendChild(td1);

        table.appendChild(tr);
    }
    document.body.appendChild(table);
}
        createTables(<%= @times %>)
</script>


</body>
</html>