<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="UTF-8">
  <title>Sched - TOS</title>
  <link rel="stylesheet" type="text/css" href="<%= url('TOS.css') %>"/>
</head>

<body>
<div id="main_div">
  <div id="header">
    <a href="/login"><h3 class="header_text">Home</h3></a>
    <a href="/about"><h3 class="header_text">About Us</h3></a>
    <a href="/main_page"><h3 class="header_text">Main Page</h3></a>
    <a href="/login"><h3 class="header_text" style="float: right;">Logout</h3></a>
  </div>
  <div id="content">

    <div id="middle_div">
      <p>We are required by Swedish law to disclose that we use cookies in order to save your login session.
        Cookies are small files that has the ability to save small pieces of information on your machine
      </p>
      <p>Sched and its associates takes no responsibility for any harm caused by our site/application to or from its users and/or their machines.</p>
      <p>Our site and/or applications may not be used to hard other human beings or machines.</p>
      <p>You may not use any of our code or applications to create any type of Weapon.</p>
      <p>You may not exploit any weaknesses in the security of our site, applications or users.</p>
      <p>Even though we do our best to keep the sites security at its best (which includes encrypting all traffic that is sent/received to/from our servers and encrypting all the passwords in our database), we cannot guarantee the security of our user and its information sent to the site.</p>
      <p>These terms are subject to change in the future. By using our site and/or applications you are required to keep up to date of its terms of service.</p>
    </div>
  </div>
</div>
<footer id="footer">
  <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
    <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
  <p>@ 2016 Sched</p>
</footer>
</body>

</html>
