p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration-color: black;
    font-family: Arial, sans-serif;
}

#main_div {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    background-image: url('/img/yosemite.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100%;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navigator {
    width: 110%;
    height: 50px;
    margin: 0 0 50px;
    background-color: white;
    opacity: 0.9;
    position: relative;
}

#navigator a :hover {
    color: #00ffee;
}

.navigator img {
    height: 50px;
    width: 50px;
    float: left;
}

.navigator-text {
    margin: 15px;
    float: left;

}

#faq_box {
    height: auto;
    width: 90%;
    margin: 0 5%;
    position: relative;
}

#faq_box a:hover {
    color: #00ffee;
    text-decoration: underline;
    cursor: pointer;
}

#faq_box_header {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
}

#faq_left_side {
    width: 50%;
    float: left;
    position: relative;
}

#faq_right_side {
    width: 50%;
    float: right;
    position: relative;
}

.faq_box_expand {
    width: 400px;
    height: 50px;
    margin: 30px auto;
    background-color: cyan;
    position: relative;
}

.faq_box_expand h3 {
    margin: 14px 10px;
    float: left;
    width: auto;
}

.faq_box_expand img {
    float: right;
    position: relative;
}

#faq_box_expand h3:hover, img:hover {
    cursor: pointer;
}

.faq_expand {
    width: 100%;
    height: auto;
    background-color: #262626;
    position: relative;
}

#linkDivHolder {
    width: auto;
    height: auto;
}

#linkDiv {
    width: 510px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    float: left;
    position: relative;
}

#linkDiv h5 {
    width: 150px;
    float: left;
    margin: 10px 8px;
    border-bottom: 2px solid grey;
}

#linkDiv h5 a:hover {
    text-decoration: none;
}

#divLinks {
    width: 510px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    float: right;
    position: relative;
}

#login_footer {
    left: 5%;
    height: 50px;
    text-align: left;
    font-size: medium;
    position: absolute;
    bottom: 0;
}

#login_footer p {
    color: white;
}

#login_footer a {
    color: #00ffee;
}

#login_footer a:hover {
    color: #00ffee;
    text-decoration: underline;
}