body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
    background-image: url('/img/random_detail.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: cornflowerblue;
    font-family: Arial, sans-serif;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navigator {
    width: 110%;
    height: 50px;
    margin: 0 0 50px;
    background-color: white;
    opacity: 0.9;
    position: relative;
}

#navigator a :hover {
    color: #00ffee;
}

.navigator img {
    height: 50px;
    width: 50px;
    float: left;
}

.navigator-text {
    margin: 15px;
    float: left;

}

#intro {
    height: 300px;
    width: 900px;
    margin: auto;
    position: relative;
}

#intro h1, h2 {
    text-align: center;
}

#intro a:hover {
    color: #00ffee;
    text-decoration: underline;
    cursor: pointer;
}

#intro_text {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

#login_footer {
    left: 5%;
    height: 50px;
    text-align: left;
    font-size: medium;
    position: absolute;
    bottom: 0;
}

#login_footer a {
    color: grey;
}
