body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
}

p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration-color: black;
    font-family: Arial, sans-serif;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

#intro {
    height: 300px;
    width: 900px;
    margin: auto;
    position: relative;
}

#intro h1, h2 {
    text-align: center;
}

#intro a:hover {
    color: #00ffee;
    text-decoration: underline;
    cursor: pointer;
}