body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
}

p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration-color: black;
    font-family: Arial, sans-serif;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

#calendar_table {
    width: auto;
    height: auto;
    margin: 10px auto 20px;
    padding: 10px;
}

.table_row {
    width: auto;
    height: auto;
    text-align: center;
}

.table_data {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin: 0;
}

<<<<<<< HEAD
#more_info_box {
    width: 1000px;
    height: 200px;
    margin: 0 auto 0;
    padding: 50px;
    border-radius: 20px;
    overflow-y: scroll;
    background-color: #e8e8e8;
}

.event_info {
    width: 300px;
    height: auto;
    margin: 15px 65px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    background-color: grey;
}
=======
#more_info_placeholder {

}

>>>>>>> e9f9558be0067dc033b55ee5b7cfe1cffda252a3
