body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 0.9;
    position: relative;
    box-shadow: 1px 1px 1px 1px gray;
}

#header a {
    opacity: 1 !important;
}

#header a :hover {
    color: #00ffee;
}

.navigator img {
    height: 50px;
    width: 50px;
    float: left;
}

.header_text {
    margin: 15px;
    float: left;

}

#content {
    padding: 10px;
    padding-bottom: 50px;
}

p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration-color: black;
    font-family: Arial, sans-serif;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

#main_div {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100%;
    position: relative;
    background-image: url('/img/yosemite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#calendar_table {
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0;
    box-shadow: 2px 2px 2px 3px rgba(196, 197, 194, 1);
}

.table_row {
    width: auto;
    height: 10px;
    text-align: center;
}

.table_data {
    background-color: whitesmoke;
    width: 150px;
    height: 100px;
    border: 1px solid lightgray;
    margin: 0;
}

.table_data_day {

}

#more_info_box {
    width: 1067px;
    height: 324px;
    margin: 50px auto 0;
}

#event_info_table td {
    width: 90px;
}

#event_info {
    width: 730px;
    height: 300px;
    margin: 20px 0 0 -10px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px 2px rgba(196, 197, 194, 1);
    overflow-y: auto;
    position: absolute;
}

#event_create {
    width: 280px;
    height: 300px;
    margin: 20px 0 0 779px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px 2px rgba(196, 197, 194, 1);
    overflow-y: auto;
    position: absolute;
}

.event_info select, input {
    width: 100px;
    margin-right: 376px;
    margin-bottom: 5px;
    float: left;
}

#svg_arrow {
    width: 100px;
    height: 40px;
    margin-left: 28px;
    margin-top: 160px;
    position: absolute;
}

#sched_placeholder_div {
    height: 690px;
    width: 1090px;
    padding: 20px 70px 0 70px;
    margin: 50px auto 200px auto;
    background-color: white;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 5px;
}

#footer {
    width: 100%;
    height: 50px;
    padding: 20px 0;
    background-color: #555555;
    text-align: left;
    position: absolute;
    bottom: 0;
}

#footer p {
    margin-left: 50px;
    color: black;
    font-size: x-small;
}

#footer a:hover {
    color: #00ffee;
    text-decoration: underline;
}
