body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

p, a, h1, h2, h3, h4, h5, h6 {
    text-decoration-color: black;
    font-family: Arial, sans-serif;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

#calendar_table {
    padding: 10px;
    margin: 0 auto;
}

.table_row {
    width: auto;
    height: 10px;
    text-align: center;
}

.table_data {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin: 0;
}

#more_info_placeholder {

}

#more_info_box {
    width: 1100px;
    height: 400px;
    margin: -3px auto 0;
    border-radius: 9px;
    overflow-y: hidden;
}

.event_info {
    width: 496px;
    height: 350px;
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    float: left;
    background-color: #6C8C22;
    border: 2px solid black;
}

#main_div {
    width: 1200px;
    height: 500px;
    margin: 0 auto 50px;
    border-radius: 5px;
}

#svg_arrow {
    margin-left: 78px;
}


